In [2]:
import pandas as pd
import openpyxl

In [3]:
df = pd.read_csv(r"C:\Users\rishabhtripathi1\OneDrive - KPMG\Documents\conso.csv")

In [4]:
columns = ['Bank Name', 'Date', 'Description', 'Amount in Bank', 'HL', 'P', 'I',
       'IN1', 'P1', 'I1', 'IN2', 'P2', 'I2', 'IN3', 'P3', 'I3', 'IN4', 'P4',
       'I4', 'Check']
no_insurance = pd.DataFrame(columns = columns)
single_insurance = pd.DataFrame(columns = columns)
double_insurance = pd.DataFrame(columns = columns)
triple_insurance = pd.DataFrame(columns = columns)
quad_insurance = pd.DataFrame(columns = columns)

In [5]:
count1,count2,count3,count4,count5 = 0,0,0,0,0
for i in range(4892):
    new = df.iloc[i:i+1,:]
    if df.loc[i,"IN1"] == "0":
        no_insurance.append(new)
        count1+=1
        
    elif df.loc[i,"IN2"] == "0":
        single_insurance.append(new)
        count2+=1
        
    elif df.loc[i,"IN3"] == "0":
        double_insurance.append(new)
        count3+=1
    
    elif df.loc[i,"IN4"] == "0":
        triple_insurance.append(new)
        count4+=1
        
    
    else:
        quad_insurance.append(new)
        count5+=1
        
print(count1)
print(count2)
print(count3)       
print(count4)
print(count5)
print(count1+count2+count3+count4+count5)
    
'''print(count)
print(no_insurance) 
type(new)'''
print(new)

1325
3076
53
0
438
4892
      Bank Name      Date   Description Amount in Bank            HL       P  \
4891  HDFC 3357  7-Jul-21  700778229702        915.00   LAI-00132192  1290.6

          I IN1 P1 I1 IN2   P2   I2 IN3   P3   I3  IN4   P4   I4   Check
4891  536.6   0  0  0   0  0.0  0.0   0  0.0  0.0  0.0  0.0  0.0  912.20

In [51]:
no_insurance

Empty DataFrame
Columns: [Bank Name, Date, Description, Amount in Bank, HL, P, I, IN1, P1, I1, IN2, P2, I2, IN3, P3, I3, IN4, P4, I4, Check]
Index: []

In [52]:
single_insurance

Empty DataFrame
Columns: [Bank Name, Date, Description, Amount in Bank, HL, P, I, IN1, P1, I1, IN2, P2, I2, IN3, P3, I3, IN4, P4, I4, Check]
Index: []

In [53]:
double_insurance

Empty DataFrame
Columns: [Bank Name, Date, Description, Amount in Bank, HL, P, I, IN1, P1, I1, IN2, P2, I2, IN3, P3, I3, IN4, P4, I4, Check]
Index: []

In [54]:
triple_insurance

Empty DataFrame
Columns: [Bank Name, Date, Description, Amount in Bank, HL, P, I, IN1, P1, I1, IN2, P2, I2, IN3, P3, I3, IN4, P4, I4, Check]
Index: []

In [55]:
quad_insurance

Empty DataFrame
Columns: [Bank Name, Date, Description, Amount in Bank, HL, P, I, IN1, P1, I1, IN2, P2, I2, IN3, P3, I3, IN4, P4, I4, Check]
Index: []

In [59]:
pd.to_excel(no_insurance)

AttributeError: module 'pandas' has no attribute 'to_excel'